# build output
dist/
.output/
.json/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# lock
yarn.lock
package-lock.json
pnpm-lock.yaml

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ignore .astro directory
.astro

# ignore this project temp files
.temp
src/content/posts
src/assets/images
public/og-images
