---
import { settings } from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Post from "@layouts/partials/Post.astro";
import PostList from "@layouts/PostList.astro";
import Categories from "@layouts/components/Categories.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { sortByDate } from "@lib/utils/sortFunctions";

const posts = await getCollection("posts");
const sortPostByDate: CollectionEntry<"posts">[] = sortByDate(posts);
const { pagination } = settings;
const totalPages = Math.ceil(posts.length / pagination);
---

<Base image=`/og-images/site-index.png`>
  <PostList>
    {
      sortPostByDate
        .slice(0, settings.pagination)
        .map((post) => <Post post={post} />)
    }
    <Pagination currentPage={1} totalPages={totalPages} />
  </PostList>
  <section class="mb-14">
    <Categories />
  </section>
</Base>
