---
import AlgoliaSearchBox from "@layouts/Search";
import Base from "@layouts/Base.astro";
---

<Base title={`Search`}>
  <div class="section">
    <div class="container">
      <div class="row px-3">
        <div class="mx-auto pt-10 lg:col-10">
          <h1 class="h2 mb-8">全文検索</h1>
          <AlgoliaSearchBox client:load />
          <div><a href="/archives">記事一覧から直接探す</a></div>
        </div>
      </div>
    </div>
  </div>
</Base>
