---
import AlgoliaSearchBox from "@layouts/Search";
import Base from "@layouts/Base.astro";
---

<Base title="全文検索" canonical="search">
  <div class="section">
    <div class="container">
      <div class="sub-container">
        <div class="mx-auto pt-10 lg:col-10">
          <h1 class="h2 mb-8">サイト内の記事を全文検索する</h1>
          <AlgoliaSearchBox client:load />
          <div><a href="/archives">記事一覧から直接探す</a></div>
        </div>
      </div>
    </div>
  </div>
</Base>
