---
import AlgoliaSearchBox from "@layouts/Search";
import Base from "@layouts/Base.astro";
---

<Base title={`Search`}>
  <div class="section">
    <div class="container">
      <div class="row px-3">
        <div class="mx-auto pt-10 lg:col-10">
          <AlgoliaSearchBox client:load />
        </div>
      </div>
    </div>
  </div>
</Base>
