---
import { markdownify } from "@lib/utils/textConverter";

const { data } = Astro.props;
const { title } = data.data;
const { Content } = await data.render();
---

<section class="section">
  <div class="container">
    <div class="row px-3">
      <div class="mx-auto lg:col-10">
        <div class="content toc-hidden py-4 md:py-12">
          <h1 set:html={markdownify(title)} class="h2 mb-8" />
          <Content />
        </div>
      </div>
    </div>
  </div>
</section>
