---
import { markdownify } from "@lib/utils/textConverter";
import { render } from "astro:content";
import { clsx } from "clsx";

const { data } = Astro.props;
const { title, show_toc } = data.data;
const { Content } = await render(data);
---

<section class="section">
  <div class="container">
    <div class="sub-container">
      <div class="mx-auto lg:col-10">
        <div
          class={clsx("content", "py-4", "md:py-12", !show_toc && "toc-hidden")}
        >
          <h1 set:html={markdownify(title)} class="h2 mb-8" />
          <Content />
        </div>
      </div>
    </div>
  </div>
</section>
