---

---

<div class="section">
  <div class="container">
    <div class="sub-container">
      <div class="mx-auto lg:col-10 md:px-0">
        <div
          class="pb-5 pt-9 md:px-15 md:pt-15"
          role="main"
          itemprop="mainEntityOfPage"
          itemscope="itemscope"
          itemtype="https://schema.org/Blog"
        >
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
